doctype html
html
  head
    title Galactic Hub Project | System Tag Generator
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript")
    script(src="scripts/app.js" type="text/javascript")
  body
    section.container
      h1 System Tag Generator
      p Easily generate Galactic Hub compatible system tags.
      p#generated-tag.alert.alert-primary.lead
      form
        div.form-row
          div.form-group.col-lg-2.col-md-4
            label.col-form-label(for=region) Region
            select#region.form-control.custom-select
              option(value=1 selected) Region 1
              option(value=2) Region 2
              option(value=3) Region 3
              option(value=4) Region 4
              option(value=5) Region 5
              option(value=6) Region 6
              option(value=7) Region 7
              option(value=8) Region 8
              option(value=9) Region 9
              option(value=10) Region 10
              option(value=11) Region 11
          div.form-group.col-lg-5.col-md-8
            p.col-form-label Primary Features
            div#primary-features.btn-group(data-toggle="buttons")
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="$")
                | Wealthy
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="!")
                | High Conflict
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="X")
                | Exotic Planets
          div.form-group.col-lg-1.col-md-4
            label.col-form-label(for=address) Index
            input#address.form-control(type=text placeholder="012A")
          div.form-group.col-lg-4.col-md-8
            label.col-form-label(for=name) Name
            input#name.form-control(type=text)
        h2.mt-1 Notable Resources
        div.form-group#resources
            div.btn-group.mr-1.mt-1(data-toggle="buttons")
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="Aq") 
                | Aquaspheres
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="AP") 
                | Albumen Pearls
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="VC") 
                | Vortex Cubes
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="GB") 
                | Gravitino Balls
            div.btn-group.mt-1(data-toggle="buttons")
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="Ra") 
                | Radnox
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="Mu") 
                | Murrine 
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="Om") 
                | Omegon 
        h2.mt-1 Attractions
        div.form-group#attractions
            div#attractions.btn-group(data-toggle="buttons")
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="Diplos") 
                | Diplos 
        h2.mt-1 Notable Ships
        div.form-group#ships
            div.btn-group(data-toggle="buttons")
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="F.Ships") 
                | Fighters 
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="H.Ships") 
                | Haulers
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="E.Ships") 
                | Explorers
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="X.Ships") 
                | Exotics
              label.btn.btn-primary
                input(type="checkbox" autocomplete="off" value="G.Ships") 
                | Good
